<% content_for :title, "Manage Users" %>
<div class = "container contents">
<div class = "form_bg">
  <h2>Manage Users</h2>
  <hr>
  <% @users.each do |user| %>
    <div class="user">
      <b>Camosun Id:</b> <%= user.camosun_id %>&nbsp;&nbsp;
      <b>Name:</b> <%= user.full_name %>&nbsp;&nbsp;
      <b>Role:</b> <%= user.role %>&nbsp;&nbsp;
      <%= link_to "Delete", user, method: :delete, class: "btn btn-primary pull-right" %>
    </div>
    <br>
  <% end %>
  <div class= "text-center">
    <%= link_to "Delete All Students", delete_all_users_path, :method => :get, class: "btn btn-primary" %>
  </div>
</div>
</div>