<% content_for :title, "Manage Users" %>
<div class = "container contents">
<div class = "form_bg">
  <h2>Manage Users</h2>
  <hr>
  <% @users.each do |user| %>
    <div class="user">
      <b>Camosun Id:</b> <%= user.camosun_id %>&nbsp;&nbsp;
      <b>Name:</b> <%= user.full_name %>&nbsp;&nbsp;
      <b>Role:</b> <%= user.role %>&nbsp;&nbsp;
      <%= link_to "Delete", user, method: :delete, :data => {:confirm => "Are you sure? \n[Caution!] This will also delete this user's request."}, class: "btn btn-danger pull-right" %>
    </div>
    <br>
  <% end %>
  <div class= "text-center">
    <%= link_to "Delete All Students", destroy_all_users_path, :method => :get, :data => {:confirm => "Are you sure? \n[Caution!] This will also delete all the requests."}, class: "btn btn-danger" %>
  </div>
</div>
</div>