<div class = "container contents">
  <div class ="request_type row">
    <div class="col-md-4 text-center">
        <%= link_to "Question", manage_requests_path(queue_type: "question"), 
          {class:"btn btn-primary"} %>
    </div>
    <div class="col-md-4 text-center">
        <%= link_to "Support", manage_requests_path(queue_type: "support"), 
          {class:"btn btn-primary"} %>
    </div>
    <div class="col-md-4 text-center">
        <%= link_to "Demo", manage_requests_path(queue_type: "demo"), 
          {class:"btn btn-primary"} %>
    </div>
  </div>
<%= link_to "refresh", from_queue_type_path, :remote => true  %>
<div class="form_bg" id="requests">
  <%= render partial: 'requests_types', locals: {requests: @requests, queue_type: @queue_type} %>
</div>