<ul id=queue_types>
  <li><%= link_to "Question", requests_path(queue_type: "question") %></li>
  <li><%= link_to "Demo", requests_path(queue_type: "demo") %></li>
  <li><%= link_to "Suport", requests_path(queue_type: "support") %></li>
</ul>
<% #unless @requests.empty? %>
<div id=queue>
  <% @requests.each do |request| %>
    <ul class=request>
      <li class="Submitter_name">Submitter: <%= request.user.full_name %></li>
      <li class="request_info"><%= request.info %></li>
      <li class="delete_request"><%= link_to "Completed", request, method: :delete %></li>
    </ul>
    <% end %>
</div>
<% #end %>

