<h1>Create Request</h1>

<div>
  <%= form_for(@request) do |f| %>
    
    <%= f.label :queue_type %>
    <%= f.select :queue_type, Request.queue_types.keys.to_a %>
    
    <%= f.label :info %>
    <%= f.text_area :info, class: 'form-control' %>
    
    <%= f.submit "Submit your Request", class: "btn btn-primary" %>
  <% end %>
</div>