<!DOCTYPE html>
<html>
  <head>
      <title>SQP | Add Request</title>
      <%= javascript_include_tag "application" %>
      <%= stylesheet_link_tag    'application', media: 'all',
                                                'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%=render 'layouts/studentheader' %>
    
    
    <div class="container contents">
      <h1>Create Request</h1>
      <%= form_for(@request) do |f| %>
        
        <%= f.label :queue_type %>
        <%= f.select :queue_type, Request.queue_types.keys.to_a %>
        
        <%= f.label :info %>
        <%= f.text_area :info, class: 'form-control' %>
        
        <%= f.submit "Submit your Request", class: "btn btn-primary" %>
      <% end %>
    </div>
  
  </body>
</html>