<!DOCTYPE html>
<html>
  <head>
      <title>SQP | Submit Request</title>
      <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%=render 'layouts/studentheader' %>
    
    
    <div class="container contents">
      <h1>Submit Request</h1>
      <button id="question">Question</button>
        <button id="support">Support</button>
        <button id="demo">Demo</button>
        
      <div class="question">
        
        
        <%= form_for(@request) do |f| %>
          
          <label>Question</label>
          <br>
          <%= f.hidden_field :queue_type, :value => "question" %>
          <%= f.label :info %>
          <%= f.text_area :info, class: 'form-control' %>
          
          <%= f.submit "Submit your Request", class: "btn btn-primary" %>
        <% end %>
      </div>
  
      <div class="support">
          
          <%= form_for(@request) do |f| %>
            
            <label>Support</label>
            <br>
            <%= f.hidden_field :queue_type, :value => "support" %>
            <%= f.label :info %>
            <%= f.text_area :info, class: 'form-control' %>
            
            <%= f.submit "Submit your Request", class: "btn btn-primary" %>
          <% end %>
        </div>
        
        <div class="demo">
        
        <%= form_for(@request) do |f| %>
          
          <label>Demo</label>
          <br>
          <%= f.hidden_field :queue_type, :value => "Demo" %>
          <%= f.label :info %>
          <%= f.text_area :info, class: 'form-control' %>
          
          <%= f.submit "Submit your Request", class: "btn btn-primary" %>
        <% end %>
      </div>
      </div>
    </body>
</html>