<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Student Queue Manager", '#', id: "app" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Manage Requests",   '#' %></li>
        <li><%= link_to "Manage Users",   '#' %></li>
        <li><%= link_to "Add User",   '#' %></li>
        <li><%= link_to "Log Out",   '#' %></li>
        <li><h3>Instructor View</h3></li>
      </ul>
    </nav>
  </div>
</header>