<!DOCTYPE html>
<html>
  <head>
    <title>SQM | <%= yield(:title) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-custom">
      <% if logged_in? %>
        <% if current_user.instructor? %>
          <%= render 'layouts/instructorheader' %>
        <% elsif current_user.student? %>
          <%= render 'layouts/studentheader' %>
        <% end %>
      <% else %>
        <%= render 'layouts/loginheader' %>
      <% end %>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div>
      <%= yield %>
    </div>
    
  </body>
</html>
